/* Vyne colors [TM 20/03/24] */
$vyne-purple: #6c56f9;
$vyne-purple-dark: #523fcc;
$vyne-grey: #74718a;
$vyne-dark: #0c0128;
$vyne-black: #000;
$vyne-dark-background-color: #0c0128;
$vyne-light-background-color: #fafafc;
