@import 'company-colors';

// button colors [TM 20/03/24]
$vyne-button-color: $vyne-purple;
$vyne-button-color-hover: $vyne-purple-dark;

//typography colors [TM 20/03/24]
$vyne-text-color: $vyne-black;
$vyne-paragraph-text-color: $vyne-grey;
$vyne-highlight-text-color: $vyne-purple;

// background colors [TM 20/03/24]
$vyne-dark-background-color: $vyne-dark-background-color;
$vyne-light-background-color: $vyne-light-background-color;
