@import '../../../styles/elements-colors.scss';
:host {
  margin-top: auto;
}
.footer-container {
  background-color: $vyne-dark-background-color;
  width: 100%;
  .footer-wrapper {
    background-color: $vyne-dark-background-color;
    height: 60px;
    color: $vyne-grey;
  }
}
