@import './app/styles/company-colors.scss';
@import 'primeng/resources/themes/soho-light/theme.css';
@import './app/styles/prime-theme-elements.scss';
@import 'primeng/resources/primeng.css';

@font-face {
  font-family: 'Mostar Sofia Pro';
  src: url('./assets/fonts/Sofia\ Pro\ Regular\ Az.otf') format('opentype');
}

* {
  box-sizing: border-box;
  font-family: 'Mostar Sofia Pro', serif;
}

body {
  font-family: 'Mostar Sofia Pro', serif;
  margin: 0;
  padding: 0;
  background-color: $vyne-light-background-color;
  color: $vyne-black;
}

.wrapper,
.header-wrapper,
.transaction-wrapper,
.footer-wrapper {
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
// .container {
//   padding-top:20px;
//   padding-bottom: 20px;
// }
.screenreader-text {
  position: absolute;
  left: -9999px;
}
